# Python
__pycache__/
*.pyc

# Virtual environment
.env/
venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment variables
.env

# VS Code
.vscode/

.env
__pycache__/
*.pyc
db.sqlite3
staticfiles/
media/